<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" th:href="@{/../lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" href="../../css/public.css" th:href="@{/../../css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <input type="text" name="id" id="id" th:value="${customer.getId()}" hidden>
        <label class="layui-form-label required">户主身份证号码</label>
        <div class="layui-input-block">
            <input type="text" name="identity" lay-verify="required" lay-reqtext="户主身份证号码" placeholder="请输入身份证号码" value="" class="layui-input" th:value="${customer.getIdentity()}">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">户主姓名</label>
        <div class="layui-input-block">
            <input type="text" name="custname" lay-verify="required" lay-reqtext="户主姓名" placeholder="请输入姓名" value="" th:value="${customer.getCustname()}" class="layui-input">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男"  th:checked="${customer.getSex()!=null}?${customer.getSex()=='男'}">
            <input type="radio" name="sex" value="女" title="女" th:checked="${customer.getSex()!=null}?${customer.getSex()=='女'}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">手机</label>
        <div class="layui-input-block">
            <input type="number" name="phone" lay-verify="required" lay-reqtext="手机不能为空" placeholder="请输入手机" value="" th:value="${customer.getPhone()}" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">职业</label>
        <div class="layui-input-block">
            <input type="text" name="career" placeholder="请输入职业" value="" th:value="${customer.getCareer()}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" lay-verify="required" lay-reqtext="地址不能为空" placeholder="请输入地址" value="" th:value="${customer.getAddress()}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="remarks" class="layui-textarea" th:value="${customer.getRemarks()}" placeholder="请输入备注信息"></textarea>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../lib/layui-v2.5.5/layui.js" th:src="@{/../lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var datas=data.field;//form单中的数据信息
            //向后台发送数据提交添加
            $.ajax({
                url:"/updateCustomerSubmit",
                type:"POST",
                contentType: 'application/json',
                data: JSON.stringify(datas),
                success:function(result){
                    if(result.code==0){//如果成功
                        layer.msg('更新成功',{
                            icon:6,
                            time:500
                        },function(){

                            parent.window.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }else{
                        layer.msg(resut.msg);

                    }
                }
            })

            return false;
        });

    });
</script>
</body>
</html>