<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.LookHouseMapper">

<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.it.entity.LookHouse">
        <id column="id" property="id"/>
        <result column="houses_id" property="housesId"/>
        <result column="customer_id" property="customerId"/>
        <result column="look_date" property="lookDate"/>
        <result column="remarks" property="remarks"/>
        <result column="date" property="date"/>
        <result column="djr" property="djr"/>
        <result column="update_time" property="updateTime"/>
        <result column="xgr" property="xgr"/>
        <result column="stutas" property="stutas"/>
    </resultMap>

    <resultMap id="queryLookHouseAllMap" type="com.it.entity.LookHouse" extends="BaseResultMap">
        <association property="customer" javaType="com.it.entity.Customer">
            <id column="id" property="id"></id>
            <result column="identity" property="identity"/>
            <result column="custname" property="custname"/>
            <result column="phone" property="phone"/>
        </association>
        <association property="houses" javaType="com.it.entity.Houses">
            <id column="id" property="id"></id>
            <result column="numbers" property="numbers"/>
            <result column="address" property="address"/>
            <result column="price" property="price"/>
            <result column="area" property="area"/>
        </association>
    </resultMap>

    <select id="queryLookHouseAll" parameterType="com.it.entity.LookHouse"
            resultMap="queryLookHouseAllMap">
        SELECT
        look.*, cus.custname,
        cus.phone,
        cus.identity,
        hou.numbers,
        hou.address,
        hou.area,
        hou.price
        FROM
        look_house look,
        customer cus,
        houses hou
        where look.houses_id=hou.id and look.customer_id=cus.id
        and look.stutas=0

        <if test="customer!=null">
            <if test="customer.identity!=null and customer.identity!=''">
                and   identity like '%${customer.identity}%'
            </if>
            <if test="customer.custname!=null and customer.custname!=''">
                and   custname  like '%${customer.custname}%'
            </if>
        </if>
        <if test="houses!=null">
            <if test="houses.numbers!=null and houses.numbers!=''">
                and   numbers like '%${houses.numbers}%'
            </if>
        </if>

    </select>

    <resultMap id="queryByIdMap" type="com.it.entity.LookHouse" extends="queryLookHouseAllMap">
        <association property="owners" javaType="com.it.entity.Owner">
            <id column="id" property="id"></id>
            <result column="sfzh" property="identity"/>
            <result column="ownname" property="custname"/>
        </association>
    </resultMap>

    <select id="agreeRentingHouse" resultMap="queryByIdMap">
        SELECT
            look.id,look.customer_id,look.houses_id, cus.custname,
            cus.phone,
            cus.identity,
            hou.numbers,
            hou.address,
            hou.area,
            hou.price,
            own.custname as ownname,
						own.identity as sfzh
        FROM
            look_house look,
            customer cus,
            houses hou,`owner` own
        where look.houses_id=hou.id and look.customer_id=cus.id
             and own.id=hou.owner_id
             and look.id=#{id}
   </select>





</mapper>