<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.OwnerMapper">

    <select id="queryOwnerAll" resultType="com.it.entity.Owner" parameterType="com.it.entity.Owner">
        select * from owner
        <where>
            <if test="identity!=null and identity!=''">
                and identity like '%${identity}%'
            </if>
            <if test="custname!=null and custname!=''">
                and custname like '%${custname}%'
            </if>
        </where>
    </select>

</mapper>